/* Google Fonts: Josefin Sans & Bai Jamjuree */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap");

/* ===== Base: Css Reset Rule ===== */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--color-title);
  font-weight: var(--font-bold);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ====== Variables ====== */
:root {
  /* Colours */
  --color-bg--body: linear-gradient(135deg, #f6f7ff 0%, #e9eeff 100%);
  --color-bg-unq: linear-gradient(90deg, #e639004d, #e6390000);
  --color-title: #000000;
  --color-black: #000000;
  --color-text: #595959;
  --color-white: #ffffff;
  --color-bg-sec: #8000ff;
  --color-dark-white: #a3a3a3;
  --color-bg-hover: #9a33ff;

  /* Font & typography */
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-regular: 400;

  --font-size-big: 2.5rem;
  --font-size-normal: 0.938rem;
  --font-size-small: 0.813rem;
  --font-size-smaller: 0.75rem;
  --font-size-h1: 1.75rem;
  --font-size-h2: 1.25rem;
  --font-size-h3: 1.125rem;
  --font-body: "Josefin Sans", sans-serif;
  --font-unique: "Bai Jamjuree", sans-serif;
}

/*========== RWD: Typography ==========*/
@media screen and (min-width: 1150px) {
  :root {
    --font-size-h1: 3rem;
    --font-size-h2: 1.5rem;
    --font-size-h3: 1.25rem;
    --font-size-small: 0.875rem;
    --font-size-s: 0.813rem;
    --font-size-big: 4.5rem;
    --font-size-normal: 1rem;
  }
}

/* ====== Reuseables: across all Section ===== */
body {
  font-family: var(--font-body);
  font-size: var(--font-size-normal);
  background: var(--color-bg--body);
  color: var(--color-text);
}

b {
  color: var(--color-bg-sec);
  background: var(--color-bg-unq);
}

.container {
  max-width: 1120px;
  margin-inline: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 5rem 0 2rem 0;
}

/* ============= Navigation: Header & Nav ============ */
.header {
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  transition: box-shadow 0.5s ease;
  position: fixed;
  background-color: var(--color-bg--body);
}

.navbar {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-weight: var(--font-semi-bold);
  color: var(--color-title);
  column-gap: 0.6rem;
  font-family: var(--font-unique);
}

.navbar-logo-shape,
.nav-toggle {
  display: grid;
  place-items: center;
  background-color: var(--color-black);
  height: 30px;
  width: 30px;
  color: var(--color-white);
  border-radius: 4px;
}

.navbar-logo-shape {
  border-radius: 50%;
}

.nav-toggle {
  cursor: pointer;
  font-size: 1.4rem;
}

/* ======== RWD: Navigation (Mobile) ======== */
@media (max-width: 1150px) {
  .nav-menu {
    position: fixed;
    text-align: center;
    top: -100%;
    left: 0;
    padding: 2rem 0 4rem 0;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    transition: top 0.5s ease-in-out;
    backdrop-filter: blur(15px);
  }
}

/* Js: toggle & display nav menu in mobile */
.display-menu {
  top: 0;
}

/* Title: Menu */
.nav-title {
  margin-bottom: 3rem;
  font-size: var(--font-size-smaller);
  font-weight: var(--font-semi-bold);
  display: block;
}

.nav-title,
.nav-close,
.nav-name {
  color: var(--color-white);
}

/* Name in menu: Chiagoziem */
.nav-name {
  margin: 0 auto 2rem auto;
  position: relative;
  width: max-content;
  font-size: var(--font-size-h1);

  /* lines beside my name in mobile menu */
  &::after,
  &::before {
    content: "";
    width: 45px;
    height: 1px;
    position: absolute;
    top: 50%;
    background-color: var(--color-dark-white);
  }

  &::before {
    left: -4rem;
  }

  &::after {
    right: -4rem;
  }
}

.nav-list {
  display: grid;
  gap: 2rem;
}

.navbar-link {
  font-size: var(--font-size-h2);
  font-weight: var(--font-semi-bold);
  color: var(--color-dark-white);
  position: relative;
  transition: color 0.3s;

  /* Mouse Hover: fade-in line from left */
  &::after {
    position: absolute;
    content: "";
    height: 2px;
    background-color: var(--color-white);
    bottom: -0.3rem;
    left: 0;
    width: 0;
    transition: width 0.3s ease;
  }

  &:hover {
    color: var(--color-white);

    &::after {
      width: 100%;
    }
  }
}

/* X Icon for closing mobile menu */
.nav-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--color-white);
  font-size: 1.5rem;
  cursor: pointer;
}

/* Header/Nav condition in vertical scroll */
.scroll-header {
  background-color: var(--color-white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* ============= Home Section ============ */
.home-name {
  text-align: center;
  font-size: var(--font-size-big);
  font-family: var(--font-unique);
}

.home-profile {
  position: relative;
  justify-self: center;
}

.home-img {
  width: 270px;
  border-radius: 0 10px 0 10px;
}

.home-img {
  position: relative;
  z-index: 10;
}

/* Border Shadow On Image */
.home-img-shadow {
  position: absolute;
  bottom: -0.75rem;
  right: -0.75rem;
  background-color: var(--color-white);
  border: 4px solid var(--color-black);
  z-index: 5;
  border-radius: 0 10px 0 10px;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s;
}

.curved-arrow {
  width: 55px;
  left: 40%;
  bottom: -4.5rem;
  filter: invert(1);
  position: absolute;
  transition: filter 0.5s;
}

/* ========= Social Media icon/links ======== */
.home-socials {
  display: grid;
  row-gap: 1rem;
  position: absolute;
  height: max-content;
  top: 0;
  bottom: 0;
  left: -3rem;
  margin: auto 0;
}

.social-link {
  display: grid;
  place-items: center;
  padding: 6px;
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-bg-sec);
  border-radius: 0 10px 0 10px;

  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.home-info {
  margin-top: 4rem;
}

/* Profile Description Paragraph */
.home-description {
  text-align: center;
  line-height: 1.3rem;
  color: var(--color-black);
  margin-bottom: 1.5rem;
}

/* ========== Scroll-down icon ======== */
.home-scroll {
  width: max-content;
  display: block;
  margin: 0 auto;

  & .home-scroll-box {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    font-size: 1.2rem;
    color: var(--color-white);
    background-color: var(--color-black);
    border-radius: 0 10px 0 10px;
    overflow: hidden;
    transition: background-color 0.5s;
  }

  & .home-scroll-text {
    display: none;
  }
}

/* ========= Animate Scroll Icon ======== */
.home-scroll-box i {
  animation: scroll-down 2s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(-1rem);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(0.6rem);
    opacity: 0;
  }
}

/* ============= About Me Section =============== */
.about {
  transition: background-color 0.5s;
}

.about-section {
  row-gap: 0;
}

.about-section-title-1 {
  font-size: var(--font-size-h1);
  margin: 0 auto 2rem;
  position: relative;
  width: max-content;
}

.about-profile {
  margin-block: 1rem 2rem;
  position: relative;
  justify-items: center;
}

.about-image {
  width: 370px;

  .about-img {
    border-radius: 0 10px 0 10px;
    border: 2px solid var(--color-black);
  }
}

.about-info {
  padding: 0 1rem 0 3rem;
}

.about-description {
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--color-black);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 1px;
    background-color: var(--color-black);
    left: -2.5rem;
    top: 0.5rem;
  }
}

.about-list {
  margin-bottom: 2rem;

  .about-item {
    position: relative;
    padding-left: 1.6rem;
    color: var(--color-black);
    margin-bottom: 0.5rem;
    line-height: 1.5rem;

    b {
      color: var(--color-black);
    }

    /* Round circle tick box before each list item */
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: -48%;
      top: -30%;
      background-color: var(--color-bg-sec);
      mask: url("../images/check-circle.svg") no-repeat center;
      -webkit-mask: url("../images/check-circle.svg") no-repeat center;
    }
  }
}

/* Contact Me Button */
.about-button {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.button {
  padding: 1rem;
  font-weight: var(--font-medium);
  color: var(--color-white);
  background-color: var(--color-bg-sec);
  transition: background-color 0.5s;

  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.button-linkedin {
  background-color: var(--color-white);
  padding: .6rem;
  border: 2px solid var(--color-bg-sec);

  i {
    font-size: 1.5rem;
    color: var(--color-bg-sec);
  }
}
